.legend-block {
  text-align: left;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.legend-block .leaflet-marker-icon {
  display: inline-block;
  vertical-align: middle;
  position: static;
  width: 25px;
  height: 41px;
}

.legend-block .note {
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
}

@media (max-width: 700px) {
  .legend-block {
    position: fixed;
    background: rgba(250, 250, 250, 0.4);
  }
  .legend-block h3 {
    display: none;
  }
}
